* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 45px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5em;
}

header {
  background-color: #f55a5a;
  color: white;
  width: 100%;
  height: 55px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.header-icon {
  width: 24px;
  height: 24px;
}
.header-title {
  color: #fff;
  font-size: 14.461px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.085px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.photo-image {
  display: block;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.country-details,
.date-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 1em; */
}

.country-details {
  margin-top: 1em;
}
.card-country {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.741px;
  margin-right: 12px;
  margin-left: 4px;
}

.card-google-link {
  color: #918e9b;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.card-title {
  color: #2b283a;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 7px 0;
}
.date-details {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-description {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
  margin-top: 9px;
}

footer {
  background-color: #f55a5a;
  font-size: 0.6rem;
  width: 100%;
  text-align: center;
  padding: 0.8em;
}

@media (min-width: 550px) {
  .card {
    flex-direction: row;
  }
  .photo-image {
    width: 125px;
    height: 168px;
  }
  .card-details {
    margin-left: 19px;
  }
  .card-description {
    font-size: 0.8rem;
  }
  .country-details {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 2em;
  }

  .photo-image {
    width: 250px;
    height: 400px;
  }
  .card-details {
    margin-left: 19px;
  }
  .card {
    margin-bottom: 3em;
  }
  .card-country {
    font-size: 1.2rem;
  }
  .card-google-link {
    font-size: 1rem;
  }
  .card-description {
    font-size: 1rem;
    margin-top: 1em;
  }
  .card-title {
    font-size: 2rem;
    margin: 1em 0;
  }
  .date-details {
    font-size: 1.2rem;
  }
  .location-icon {
    font-size: 1rem;
    width: 30px;
    border: 2px solid green;
  }
}
